.trends {
    background: no-repeat top center url('../img/trends/bg-1.svg');

    &__layout {
        padding-top: 187px;
        margin-bottom: 30px;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 158px;
    }

    &__h {
        margin-bottom: 30px;
        color: var(--green);
        font: 600 2.25rem/1.1 "SF Rounded", sans-serif;
        text-align: center;
    }

    &__btn {
        width: 89.78%;
    }

    &__swiper {
        margin: auto;
        max-width: 300px;
    }
}

.swiper-trends {
    &__slide {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .trends {
        background: no-repeat top 29px left / 311px url("../img/trends/bg-1.svg");

        &__layout {
            margin-bottom: 88px;
            padding-top: 237px;
        }

        &__h {
            margin-bottom: 18px;
            font-size: 3.125rem;
        }

        &__btn {
            max-width: 270px;
            margin-bottom: 66px;
        }

        &__swiper {
            max-width: 377px;
        }
    }

    .swiper-trends {
        &__slide {
            margin-bottom: 80px;
        }
    }
}