.trends {
    background: no-repeat top center url('../img/trends/bg-1.svg');

    &__layout {
        padding-top: 187px;
        margin-bottom: 10px;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 158px;
    }

    &__h {
        margin-bottom: 30px;
        color: var(--green);
        font: 600 2.25rem/1.1 "SF Rounded", sans-serif;
        text-align: center;
    }

    &__btn {
        width: 89.78%;
    }

    &__swiper {
        margin: auto;
        max-width: 300px;
    }
}

.swiper-trends {
    &__slide {
        margin-bottom: 50px;
    }
}