.trends {
    background: no-repeat top center url('../img/trends/bg-1.webp');

    &__layout {
        padding-top: 187px;
        margin-bottom: 30px;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 158px;
    }

    &__h {
        margin-bottom: 30px;
        color: var(--green);
        font: 600 2.25rem/1.1 "SF Rounded", sans-serif;
        text-align: center;
    }

    &__btn {
        width: 89.78%;
    }

    &__swiper {
        margin: auto;
        max-width: 300px;
    }
}

.swiper-trends {
    &__slide {
        margin-bottom: 50px;
    }

    &__wrapper {
        display: block;
    }
}

.slide-swiper-trends {
    &__body {
        height: 314px;
    }
}

.desc-slide-swiper-trends {
    &__inner {
        box-sizing: border-box;
    }
}

@media screen and (min-width: 834px) {
    .trends {
        background: no-repeat top 36px left url("../img/trends/bg-1@tablet.webp");

        &__layout {
            margin-bottom: 88px;
            padding-top: 244px;
        }

        &__wrap {
            margin-bottom: 0;
        }

        &__h {
            margin-bottom: 20px;
            font-size: 3.125rem;
        }

        &__btn {
            max-width: 270px;
            margin-bottom: 66px;
        }

        &__swiper {
            max-width: 377px;
        }
    }

    .swiper-trends {
        &__slide {
            margin-bottom: 80px;
        }
    }

    .slide-swiper-trends {
        &__body {
            height: 390px;
        }
    }
    
}

@media screen and (min-width: 1440px) {
    .trends {
        background: no-repeat center left url("../img/trends/bg-1@desktop.webp");

        &__layout {
            display: flex;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 60px;
        }

        &__wrap {
            flex: 1 1;
            align-items: flex-start;
            margin-bottom: 0;

            .js & {
                justify-content: center;
                padding: 95px 46px 0px;
            }
        }

        &__swiper {
            flex: 0 1 781px;
            max-width: unset;
            margin: unset;
            padding-top: 25px;
        }
    }

    .swiper-trends {
        &__wrapper {
            .js & {
                display: flex;
                height: unset;
                margin-bottom: 61px;
            }
        }

        &__slide {
            height: unset;
            width: unset;
            margin-bottom: 0;

            .js & {
                height: 100%;
                width: 100%;
            }
        }

        &__pagination {
            .js & {
                position: static;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .pagination-swiper-trends {
        &__bullet {
            position: static;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            margin: 0 2.5px;
            background: var(--grey-200);
        }
        
        &--active {
            background: var(--green);
        }
    }
}