.hero {
    background: no-repeat top 98px center/135px url("../img/hero/bg-2.webp"), 
                no-repeat top 52px center/222px url("../img/hero/bg-1.svg");

    &__layout {
        margin-bottom: 50px;
        padding-top: 268px;
    }

    &__h {
        max-width: 55%;
        margin: 0 auto 28px;
        color: var(--green);
        font: 600 2.5rem/0.9 "SF Rounded", sans-serif;
        text-align: center;
    }

    &__p {
        color: var(--grey-400);
        font: 600 0.75rem/1.4 "SF Pro Display", sans-serif;
        text-align: center;
    }
}

@media screen and (min-width: 834px) {
    .hero {
        background: no-repeat top 240px right/316px url("../img/hero/bg-2.webp"), 
                    no-repeat top -37px right -368px/660px url("../img/hero/bg-1.svg");

        &__layout {
            margin-bottom: 150px;
            padding: 260px 51px 0 65px;
        }

        &__h {
            max-width: 380px;
        }

        &__h {
            margin: 0 0 30px;
            font-size: 6em;
            text-align: left;
        }

        &__p {
            max-width: 375px;
            font-size: 0.875rem;
            letter-spacing: 0.001em;
            text-align: left;
        }
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        background: no-repeat center right url("../img/hero/bg-2.webp"), 
                    no-repeat center right url("../img/hero/bg-1@desktop.svg");
        &__layout {
            padding-bottom: 270px;
        }
    }
}