section(class="hero")
    div(class="container hero__container")
        div(class="layout hero__layout")
            h1(class="h h--1 hero__h") Pear kiwi &amp; Mint
            p(class="p hero__p") They say that home is where the heart is. Perhaps that’s why a feeling of loss is so apparent when you are far from the ones you love.