.hero {
    background: no-repeat top 95px center/150px url("../img/hero/bg-2.webp"), 
                no-repeat top 45px center/220px url("../img/hero/bg-1.svg");

    &__layout {
        margin-bottom: 57px;
        padding-top: 270px;
    }

    &__h {
        max-width: 55%;
        margin: 0 auto 30px;
        color: var(--green);
        font: 600 2.5rem/0.9 "SF Rounded", sans-serif;
        text-align: center;
    }

    &__p {
        color: var(--grey-400);
        font: 600 0.75rem/1.4 "SF Pro Display", sans-serif;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        background: no-repeat top 244px right 10px/310px url("../img/hero/bg-2.webp"), 
                    no-repeat top 30px right -300px/620px url("../img/hero/bg-1.svg");

        &__layout {
            margin-bottom: 130px;
            padding-right: 51px;
            padding-left: 51px;
        }

        &__h, 
        &__p {
            max-width: 380px;
        }

        &__h {
            margin: 0 0 38px;
            font-size: 6em;
            text-align: left;
        }

        &__p {
            font-size: 0.875rem;
            text-align: left;
        }
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        background: no-repeat center right url("../img/hero/bg-2.webp"), 
                    no-repeat center right url("../img/hero/bg-1@desktop.svg");
        &__layout {
            padding-bottom: 270px;
        }
    }
}