.footer {
    background: var(--color-footer);

    &__layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 27px;
        padding-bottom: 31px;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 52px;
        color: var(--color-logo-footer);
        text-decoration: none;
    }

    &__wrap {
        max-width: 63%;
        margin-bottom: 22px;
    }

    &__inner {
        margin-bottom: 34px;
        text-align: center;
    }

    &__h {
        margin-bottom: 5px;
        color: var(--green);
        font: 600 0.75rem/1 "SF Pro Display", sans-serif;
    }

    &__copy {
        max-width: 50%;
        color: var(--grey-400);
        font: 400 0.75rem/1.35 "SF Pro Display", sans-serif;
        text-align: center;
    }
}

.logo-footer {
    &__icon {
        margin-right: 12px;
    }

    &__title {
        font: 600 0.75rem/1.35 "SF Pro Display", sans-serif;
    }
}

.list-footer {
    &__item:not(:last-child) {
        margin-bottom: 2px;
    }

    &__link {
        display: block;
        color: var(--grey-400);
        font: 500 0.75rem/1 "SF Pro Display", sans-serif;
    }
}

@media screen and (min-width: 834px) {
    .footer {
        &__container {
            padding: 0 87px;
        }

        &__layout {
            position: relative;
            padding-top: 37px;
            padding-bottom: 21px;
        }

        &__wrap {
            margin-bottom: 4px;
        }

        &__inner {
            margin-bottom: 40px;
        }

        &__logo {
            position: absolute;
            top: 30px;
            left: 0;
            margin: 0;
        }

        &__copy {
            padding-top: 24px;
        }
    }

    .list-footer {
        &__item:not(:last-child) {
            margin-bottom: 3px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .footer {
        &__layout {
            padding-top: 35px;
            padding-bottom: 31px;
        }

        &__wrap {
            display: flex;
            margin-bottom: 55px;
            margin-left: 108px;
        }

        &__inner {
            margin-bottom: 0;
        }

        &__inner:not(:last-child) {
            margin-right: 56px;
        }

        &__logo {
            top: 22px;
            left: 15px;

            &:hover {
                color: pink;
            }
        }

        &__h {
            margin-bottom: 7px;
        }

        &__copy {
            padding-top: 0;
        }
    }

    .logo-footer {
        &__title {
            transition: color 300ms;
        }
    }
}