footer(class="footer")
    div(class="container footer__container")
        div(class="layout footer__layout")
            a(class="footer__logo logo-footer" href="index.html")
                svg(class="svg logo-footer__icon" width="24" viewBox="0 0 24 24")
                    use(href="assets/img/defs.svg#logo")
                span(class="logo-footer__title") Toutem
            div(class="footer__wrap")
                div(class="footer__inner")
                    h3(class="h footer__h") Customer Support
                    ul(class="list-reset footer__list list-footer")
                        li(class="list-footer__item")
                            a(class="a list-footer__link" href="#") Shipping
                        li(class="list-footer__item")
                            a(class="a list-footer__link" href="#") Free Return
                        li(class="list-footer__item")
                            a(class="a list-footer__link" href="#") Track your Order
                        li(class="list-footer__item")
                            a(class="a list-footer__link" href="#") Gift Cards
                div(class="footer__inner")
                    h3(class="h footer__h") About Us
                    ul(class="list-reset footer__list list-footer")
                        li(class="list-footer__item")
                            a(class="a list-footer__link" href="#") Our Values
                        li(class="list-footer__item")
                            a(class="a list-footer__link" href="#") Sustainability
                        li(class="list-footer__item")
                            a(class="a list-footer__link" href="#") Brand Ambassadors
                        li(class="list-footer__item")
                            a(class="a list-footer__link" href="#") Fitness Professionals
                div(class="footer__inner")
                    h3(class="h footer__h") Customer Service
                    ul(class="list-reset footer__list list-footer")
                        li(class="list-footer__item")
                            a(class="a list-footer__link" href="#") Help
                        li(class="list-footer__item")
                            a(class="a list-footer__link" href="#") Leader Support
                        li(class="list-footer__item")
                            a(class="a list-footer__link" href="#") Pleasant Grove Product Center
                        li(class="list-footer__item")
                            a(class="a list-footer__link" href="#") Recall—Important Safety Information
            p(class="footer__copy") copyright © 2022 Toutem<br>all rights reserved.