.footer {
    background: var(--grey-100);

    &__layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 27px;
        padding-bottom: 39px;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: 52px;
        text-decoration: none;
    }

    &__wrap {
        max-width: 50%;
        margin-bottom: 22px;
    }

    &__inner {
        margin-bottom: 33px;
        text-align: center;
    }

    &__h {
        margin-bottom: 4px;
        color: var(--green);
        font: 600 0.75rem/1.35 "SF Pro Display", sans-serif;
    }

    &__copy {
        max-width: 50%;
        color: var(--grey-400);
        font: 400 0.75rem/1.35 "SF Pro Display", sans-serif;
        text-align: center;
    }
}

.logo-footer {
    &__icon {
        margin-right: 12px;
    }

    &__title {
        color: var(--grey-800);
        font: 600 0.75rem/1.35 "SF Pro Display", sans-serif;
    }
}

.list-footer {
    &__link {
        color: var(--grey-400);
        font: 500 0.75rem/1.35 "SF Pro Display", sans-serif;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        &__container {
            padding: 0 87px;
        }

        &__layout {
            position: relative;
            padding-top: 34px;
            padding-bottom: 21px;
        }

        &__inner {
            margin-bottom: 36px;
        }

        &__logo {
            position: absolute;
            left: 0;
            margin: 0;
        }

        &__copy {
            padding-top: 24px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .footer {
        &__layout {
            padding-top: 33px;
            padding-bottom: 31px;
        }

        &__wrap {
            display: flex;
            margin-bottom: 47px;
        }

        &__inner {
            margin-bottom: 0;
        }

        &__inner:not(:last-child) {
            margin-right: 56px;
        }

        &__copy {
            padding-top: 0;
        }
    }
}