.blog {
    &__layout {
        margin-bottom: 6px;
    }
    
    &__h {
        margin-bottom: 78px;
        color: var(--green);
        font: 600 3.125rem/1.1 "SF Rounded";
        text-align: center;
    }

    &__list {
        margin: auto;
        max-width: 67.5%;
    }
}

.list-blog {
    &__item {
        margin-bottom: 40px;
    }

    &__body {
        position: relative;
        border-radius: 8px;
        box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
        overflow: hidden;
    }
}

.body-list-blog {
    &__img-wrap {
        height: 191px;
    }

    &__img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__inner {
        padding: 21px 13px;
    }

    &__h {
        border-bottom: 1px solid var(--grey-100);
        margin-bottom: 10px;
        padding-bottom: 10px;
        color: var(--green);
        font: 700 1rem/1.4 "SF Pro Display", sans-serif;
    }

    &__p {
        color: var(--grey-600);
        font: 500 0.75rem/1.5 "SF Pro Display", sans-serif;
        
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

@media screen and (min-width: 1024px) {
    .blog {
        &__h {
            margin-bottom: 174px;
            font-size: 3.125rem;
        }

        &__list {
            max-width: 40.16%;
        }
    }

    .list-blog {
        &__item {
            margin-bottom: 72px;
        }
    }

    .body-list-blog {
        &__img-wrap {
            height: 344px;
        }

        &__inner {
            padding: 38px 23px 97px;
        }

        &__h {
            margin-bottom: 38px;
            padding-bottom: 35px;
            font-size: 1.5rem;
        }

        &__p {
            font-size: 1rem;
        }
    }
}

@media screen and (min-width: 1440px) {
    .blog {
        &__layout {
            margin-bottom: 71px;
        }

        &__h {
            margin-bottom: 30px;
        }

        &__list {
            display: flex;
            max-width: unset;
            margin: 0 -12px;
            padding: 0 91px;
        }
    }

    .list-blog {
        &__item {
            margin-bottom: 0;
            padding: 0 12px;
        }
    }

    .body-list-blog {
        &__img-wrap {
            height: 201px;
        }

        &__inner {
            padding: 22px 23px 22px;
        }

        &__h {
            margin-bottom: 23px;
            padding-bottom: 12px;
            font-size: 1.25rem;
        }
    }
}