// fonts

@import '../fonts/fonts.scss';

// root

:root {
    box-sizing: border-box;
    font: 400 16px/1.5 'SF Pro Display', sans-serif;

    --color-text-main: #1F2937;
    --grey-50: #F9FAFB;
    --grey-100: #F3F4F6;
    --grey-400: #9CA3AF;
    --grey-800: #1F2937;
    --green: #5FD788;
}

*, 
::after, 
::before {
    box-sizing: inherit;
}

.list-reset {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.h, 
p {
    margin-top: 0;
    margin-bottom: 0;
}

.svg {
    display: block;
}

.container {
    margin: auto;
    padding: 0 35px
}

// sections

@import '../sections/header/header.scss';
@import '../sections/hero/hero.scss';
@import '../sections/about/about.scss';

// ui

@import '../ui/a/a.scss';