header(class="header")
    div(class="container header__container")
        div(class="layout header__layout")
            a(class="a header__logo logo-header" href="index.html")
                svg(class="svg logo-header__icon" width="24" viewBox="0 0 24 24")
                    use(href="assets/img/defs.svg#logo")
                span(class="p p--small logo-header__title") Toutem
            nav(class="header__nav nav-header" id="main-nav")
                div(class="nav-header__menu menu-nav-header" id="main-menu")
                    ul(class="list-reset menu-nav-header__list")
                        each item in menuList
                            li(class="menu-nav-header__item")
                                a(class="a menu-nav-header__link" href=item.href)= item.innerHTML
                    div(class="menu-nav-header__icon-wrap")
                        a(class="a menu-nav-header__bag bag-menu-nav-header" href="#") 
                            svg(class="svg bag-menu-nav-header__icon" width="15" viewBox="0 0 15 17")
                                use(href="assets/img/defs.svg#bag")
                        input(class="menu-nav-header__search" id="input-search" name="input-search" type="text" aria-label="Search")
                button(class="hamburger" id="trigger-menu" aria-expanded="false" aria-controls="main-menu" aria-label="Main menu" type="button")
                    span(class="hamburger__item")