.header {
    min-height: 70px;

    &__layout {
        padding: 20px 18px;

        .js & {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__logo {
        display: inline-flex;
        align-items: center;
        margin-bottom: 1.5em;
        color: var(--grey-800);
        font-size: 0.75rem;

        .js & {
            margin-bottom: 0;
        }
    }
}

.logo-header {
    &__icon {
        margin-right: 1em;
    }
}

.nav-header {
    &__menu {
        .js & {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9990;
            height: 100%;
            width: 100%;
            max-width: 768px;
            padding: 5em 1.5em 1.5em;
            background: rgba(0 0 0 / .9);
            transform: translateX(-100%);
            transition: transform 300ms, visibility 300ms 0ms;
            visibility: hidden;
            will-change: transform;

            &.open {
                transform: translateX(0);
                visibility: visible;
                transition: transform 300ms, visibility 0ms 0ms;
            }
        }
    }
}

.menu-nav-header {
    &__list {
        margin-bottom: 1.5em;
    }

    &__item:not(:last-child) {
        margin-bottom: .7em;

        .js & {
            margin-bottom: 1.7em;
        }
    }

    &__link {
        .js & {
            display: block;
            color: #fff;
        }
    }

    &__icon-wrap {
        display: flex;
    }

    &__bag {
        display: inline-block;
        min-height: 20px;
        margin-right: 12px;

        .js & {
            fill: #fff;
        }
    }

    &__search {
        border: none;
        border-radius: 2em;
        padding: 0.4em 2em 0.4em 0.375em;
        width: 100%;
        max-width: 0;
        height: 2em;
        font-size: 0.625rem;
        background: no-repeat center right 0.6em/1.6em url("../img/search.svg") transparent;
        transition: background-color 500ms, max-width 500ms, background-size 500ms;
        overflow: hidden;

        .js & {
            background-image: url("../img/search@white.svg");
        }
        
        &:focus {
            height: 1.6em;
            max-width: 212px;
            background-size: 0.8em;
            background-color: var(--grey-100);
        }
    }
}

.hamburger {
    position: relative;
    z-index: 99999;
    display: none;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0;
    height: 30px;
    width: 40px;
    padding: 0;
    background: none;

    .js & {
        display: flex;
    }

    &__item, 
    &__item::after, 
    &__item::before {
        border-radius: 2px;
        display: block;
        height: 2px;
        width: 26px;
        background: var(--grey-800);
    }

    &__item {
        position: relative;

        [aria-expanded=true] & {
            background: transparent;
        }

        &::after, 
        &::before {
            content: '';
            position: absolute;
            left: 0;
            transition: background-color 300ms, transform 300ms;
        }

        &::after {
            transform: translateY(7px);

            [aria-expanded=true] & {
                background: #fff;
                transform: translateY(0) rotate(45deg);
            }
        }

        &::before {
            transform: translateY(-7px);

            [aria-expanded=true] & {
                background: #fff;
                transform: translateY(0) rotate(-45deg);
            }
        }
    }
}

@media screen and (min-width: 834px) {
    .header {
        &__layout {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 27px 14px;
        }

        &__logo {
            margin: 0;
        }

        &__nav {
            width: 65%;
        }
    }

    .nav-header {
        &__menu {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .js & {
                position: static;
                height: unset;
                width: unset;
                max-width: unset;
                padding: 0;
                background: none;
                visibility: visible;
                transform: none;
            }
        }
    }

    .menu-nav-header {
        &__list {
            display: flex;
            margin: 0;
        }

        &__item:not(:last-child) {
            margin-right: 14px;
            margin-bottom: 0;

            .js & {
                margin-bottom: 0;
            }
        }

        &__link {
            font-size: 0.75rem;
            line-height: 1.35;

            .js & {
                display: inline;
                color: var(--grey-800);
            }
        }

        &__bag {
            .header & {
                fill: #000;
            }
        }

        &__search {
            .header & {
                background-image: url("../img/search.svg");
            }
        }
    }

    .hamburger {
        .js & {
            display: none;
        }
    }
}