.bestsellers {
    background: no-repeat top center url('../img/bestsellers/bg-1.svg');

    &__layout {
        margin-bottom: 10px;
        padding-top: 97px;
    }
    
    &__wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 158px;
    }

    &__h {
        margin-bottom: 29px;
        color: var(--green);
        font: 600 2.25rem/1.1 "SF Rounded", sans-serif;
        text-align: center;
    }

    &__btn {
        width: 89.78%;
        margin: auto;
    }

    &__swiper {
        margin: auto;
        max-width: 300px;
    }
}

.swiper-bestsellers {
    &__slide {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1024px) {
    .bestsellers {
        background: no-repeat top left -80px/430px url("../img/bestsellers/bg-1.svg");

        &__layout {
            margin-bottom: 22px;
            padding-top: 166px;
        }

        &__wrap {
            margin-bottom: 145px;
            padding: 0;
        }

        &__h {
            margin-bottom: 18px;
            font-size: 3.125rem;
        }

        &__btn {
            max-width: 268px;
        }

        &__swiper {
            max-width: 375px;
        }
    }

    .swiper-bestsellers {
        &__slide {
            margin-bottom: 80px;
        }
    }
}