section(class="explore")
    div(class="container explore__container")
        div(class="layout explore__layout")
            h2(class="h explore__h") Improve your well-being with Aromatherapy
            p(class="p explore__p") Diffusing can be exactly what you need to add purpose and focus to your daily tasks. We've got tons of fun diffuser blends, with scents to suit every mood, day and situation.
            a(class="btn explore__btn" href="#") Explore the Collection