.explore {
    background: no-repeat top 30px center url("../img/explore/bg-2.webp"), 
                no-repeat top 25px center url("../img/explore/bg-1.svg");

    &__layout {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 37px;
        padding-top: 270px;
    }

    &__h {
        margin-bottom: 15px;
        color: var(--green);
        font: 600 1.25rem/1.1 "SF Rounded", sans-serif;
        letter-spacing: 0.01em;
        text-align: center;
    }

    &__p {
        max-width: 85%;
        margin-bottom: 15px;
        color: var(--grey-400);
        font: 600 0.75rem/1.4 "SF Pro Display", sans-serif;
        text-align: center;
    }

    &__btn {
        width: 89.78%;
    }
}

@media screen and (min-width: 834px) {
    .explore {
        background: no-repeat center left 33px/405px url("../img/explore/bg-2.webp"), 
                    no-repeat center left -144px/404px url("../img/explore/bg-1.svg");

        &__layout {
            align-items: flex-end;
            margin-bottom: 80px;
            padding: 127px 22px 65px 0;
        }

        &__h {
            max-width: 550px;
            margin-bottom: 21px;
            font-size: 2.5rem;
            text-align: right;
        }

        &__p {
            max-width: 374px;
            margin-bottom: 32px;
            font-size: 0.875rem;
            text-align: right;
        }

        &__btn {
            max-width: 274px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .explore {
        background: no-repeat center left 65px url("../img/explore/bg-2.webp"), 
                    no-repeat center left url("../img/explore/bg-1@desktop.svg");

        &__layout {
            margin-bottom: 105px;
            padding-top: 264px;
            padding-bottom: 138px;
        }

        &__h {
            margin-bottom: 42px;
            font-size: 3.125rem;
        }

        &__p {
            margin-bottom: 24px;
        }
    }
}