extends ../templates/layout.pug

block variables
    - 
        let title = 'eCommerce';
        let menuList = [
            {
                href: '#', 
                innerHTML: 'HOME', 
            }, 
            {
                href: '#', 
                innerHTML: 'ABOUT US', 
            }, 
            {
                href: '#', 
                innerHTML: 'SHOP', 
            }, 
            {
                href: '#', 
                innerHTML: 'CONTACT', 
            }, 
        ];
        let aboutList = [
            {
                svgViewBox: '0 0 47 46', 
                svgWidth: 47, 
                svgId: 'oils', 
                href: '#', 
                title: 'Essential oils', 
            }, 
            {
                svgViewBox: '0 0 50 51', 
                svgWidth: 50, 
                svgId: 'cosmetics',
                href: '#',  
                title: 'Natural cosmetics', 
            }, 
            {
                svgViewBox: '0 0 50 53', 
                svgWidth: 50, 
                svgId: 'diffusers',
                href: '#',  
                title: 'Diffusers', 
            }, 
            {
                svgViewBox: '0 0 50 53', 
                svgWidth: 50, 
                svgId: 'aromatherapy',
                href: '#',  
                title: 'Aromatherapy', 
            }, 
        ];
        let bestsellersList = [
            {
                href: '#', 
                imgName: 'i-1', 
                imgAlt: 'Product photo', 
                title: 'Aroma Diffuser', 
                price: '$20', 
                desc: 'Original product comes in three styles of color, usb charger', 
            }, 
            {
                href: '#', 
                imgName: 'i-2', 
                imgAlt: 'Product photo', 
                title: 'Lux Aroma Diffuser', 
                price: '$20', 
                desc: 'Original product comes in three styles of color, usb charger', 
            }, 
        ];
        let trendsList = [
            {
                href: '#', 
                imgName: 'i-1', 
                imgAlt: 'Product photo', 
                title: 'Basket INNER BEAUTY', 
                price: '$64', 
                desc: 'Original product comes in three styles of color, usb charger', 
            }, 
            {
                href: '#', 
                imgName: 'i-2', 
                imgAlt: 'Product photo', 
                title: 'Uplift Handcrafted Soap Bar', 
                price: '$7', 
                desc: 'Beautiful decorative object, perfumes the space with your favorite fragrance.', 
            }, 
        ];
        let blogList = [
            {
                imgName: 'i-1', 
                imgAlt: 'Photo product', 
                href: '#', 
                title: 'How to create your own essential oil diffuser blends', 
                desc: 'As you begin creating your own diffuser blends, it’s important to keep a few ...', 
            }, 
            {
                imgName: 'i-3', 
                imgAlt: 'Photo product', 
                href: '#', 
                title: 'How to create your own essential oil diffuser blends', 
                desc: 'As you begin creating your own diffuser blends, it’s important to keep a few ...', 
            }, 
            {
                imgName: 'i-3', 
                imgAlt: 'Photo product', 
                href: '#', 
                title: 'How to create your own essential oil diffuser blends', 
                desc: 'As you begin creating your own diffuser blends, it’s important to keep a few ...', 
            }, 
        ];

block header
    include ../../sections/header/header.pug
block main
    include ../../sections/hero/hero.pug
    include ../../sections/about/about.pug
    include ../../sections/explore/explore.pug
    include ../../sections/bestsellers/bestsellers.pug
    include ../../sections/soaps/soaps.pug
    include ../../sections/trends/trends.pug
    include ../../sections/blog/blog.pug
block footer
    include ../../sections/footer/footer.pug