section(class="soaps")
    div(class="container soaps__container")
        div(class="layout soaps__layout")
            div(class="soaps__wrap soaps__wrap--one")
                div(class="container soaps__inner")
                    h2(Class="h soaps__h") Our luxury soaps are 100% natural providing nourishing benefits for<br>your skin.
                    a(class="btn btn--alter soaps__btn" href="#") SHOP ALL
            div(class="soaps__wrap soaps__wrap--two")