section(class="soaps")
    div(class="container soaps__container")
        div(class="layout soaps__layout")
            div(class="soaps__wrap soaps__wrap--one")
                h2(Class="h h--2 soaps__h") Our luxury soaps are 100% natural providing nourishing benefits for your skin.
                a(href="btn btn--alter soaps__btn") SHOP ALL
            div(class="soaps__wrap soaps__wrap--two")