.soaps {
    &__container {
        padding: 0;
    }

    &__layout {
        margin-bottom: 60px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    &__wrap {
        &--one {
            padding-top: 144px;
            padding-bottom: 144px;
            background: no-repeat center center/cover url("../img/soaps/bg-2.webp") #000;
        }
    }

    &__h {
        margin-bottom: 38px;
        color: #fff;
        font: 600 2rem/1.2 "SF Rounded", sans-serif;
        text-align: center;
    }

    &__btn {
        width: 61.28%;
    }
}

@media screen and (min-width: 1024px) {
    .soaps {
        &__layout {
            display: flex;
            margin: 0;
        }

        &__wrap {
            &--one {
                flex: 1 1 540px;
                padding: 0 68px;
                background: no-repeat center center/cover url("../img/soaps/bg-1.png") var(--green);
            }

            &--two {
                flex: 1 1 320px;
                background: no-repeat center center/cover url("../img/soaps/bg-2.webp") #000;
            }
        }
        &__inner {
            align-items: flex-start;
            justify-content: center;
            min-height: 523px;
            max-width: 357px;
            margin: 0;
            padding: 0;
        }

        &__h {
            margin-bottom: 35px;
            font-size: 2.375rem;
            text-align: left;
        }

        &__btn {
            width: 52.39%;
        }
    }
}