.soaps {
    &__container {
        padding: 0;
    }

    &__layout {
        margin-bottom: 60px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    &__wrap {
        &--one {
            padding-top: 139px;
            padding-bottom: 140px;
            background: no-repeat center center/cover url("../img/soaps/bg-2.webp") #000;
        }
    }

    &__h {
        margin-bottom: 42px;
        color: #fff;
        font: 600 2rem/1.2 "SF Rounded", sans-serif;
        letter-spacing: 0.01em;
        text-align: center;
    }

    &__btn {
        width: 55.7%;
    }
}

@media screen and (min-width: 834px) {
    .soaps {
        &__layout {
            display: flex;
            margin: 0;
        }

        &__wrap {
            &--one {
                flex: 1 1 550px;
                padding: 0 56px;
                background: no-repeat center center/cover url("../img/soaps/bg-1.png") var(--green);
            }

            &--two {
                flex: 1 1 320px;
                background: no-repeat center center/cover url("../img/soaps/bg-2.webp") #000;
            }
        }

        &__inner {
            align-items: flex-start;
            justify-content: center;
            max-width: 357px;
            margin: 0;
            padding: 113px 0 98px;
        }

        &__h {
            margin-bottom: 36px;
            font-size: 2.375rem;
            text-align: left;
        }

        &__btn {
            width: 52.39%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .soaps {
        &__layout {
            margin-bottom: 90px;
        }
        
        &__h {
            margin-bottom: 24px;
            font-size: 3.125rem;
        }

        &__wrap {
            &--one {
                flex: 0 1 792px;
                padding: 0 98px;
            }

            &--two {
                flex: 1 1;
            }
        }

        &__inner {
            max-width: 523px;
        }
    }

}