@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "SF Rounded";
  src: url("../fonts/SFRounded-Ultralight.woff2") format("woff2"), url("../fonts/SFRounded-Ultralight.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
:root {
  box-sizing: border-box;
  font: 400 16px/1.5 "SF Pro Display", sans-serif;
  --color-text-main: #1F2937;
  --grey-50: #F9FAFB;
  --grey-100: #F3F4F6;
  --grey-400: #9CA3AF;
  --grey-500: #6B7280;
  --grey-600: #4B5563;
  --grey-800: #1F2937;
  --green: #5FD788;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.h,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.svg {
  display: block;
}

.container {
  margin: auto;
  padding: 0 35px;
}

.a {
  color: var(--grey-800);
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 0.5em;
  display: inline-block;
  max-width: 300px;
  padding: 0.75em;
  color: #fff;
  font: 700 1rem/1 "Quicksand", sans-serif;
  letter-spacing: 0.01em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: var(--green);
}
.btn--alter {
  color: var(--grey-800);
  background: #fff;
}

.card {
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: block;
  height: 310px;
  box-shadow: 3px 3px 10px -3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.card__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card__info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px 13px 8px;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.info-card__inner {
  display: flex;
  align-items: flex-start;
}
.info-card__title, .info-card__desc {
  max-width: 70%;
}
.info-card__title {
  margin: 0 5px 0 0;
  color: var(--grey-800);
  font: 700 0.9375rem/1.4 "SF Pro Display", sans-serif;
}
.info-card__price {
  border-radius: 1.33em;
  margin-top: 4px;
  padding: 0.5em 1.14em;
  color: #fff;
  font: 700 0.375rem/1 "SF Pro Display", sans-serif;
  background: var(--green);
}
.info-card__desc {
  color: var(--grey-500);
  font: 400 0.6875rem/1.4 "SF Pro Display", sans-serif;
}
.info-card__add-cart {
  display: none;
}

@supports (backdrop-filter: blur(10px)) {
  .card__info {
    backdrop-filter: blur(50px);
    background: none;
  }
}
.header {
  min-height: 70px;
}
.header__layout {
  padding: 25px 0;
}
.header__logo {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.logo-header__icon {
  margin-right: 1em;
}

.menu-nav-header__list {
  margin-bottom: 1.5em;
}
.menu-nav-header__item:not(:last-child) {
  margin-bottom: 0.7em;
}
.menu-nav-header__icon-wrap {
  display: flex;
}
.menu-nav-header__bag {
  display: inline-block;
  min-height: 20px;
  margin-right: 12px;
}
.menu-nav-header__search {
  border: none;
  border-radius: 2em;
  padding: 0.4em 2em 0.4em 0.375em;
  width: 100%;
  max-width: 0;
  height: 2em;
  font-size: 0.625rem;
  background: no-repeat center right 0.6em/1.6em url("../img/search.svg") transparent;
  transition: background-color 500ms, max-width 500ms, background-size 500ms;
  overflow: hidden;
}
.menu-nav-header__search:focus {
  height: 1.6em;
  max-width: 212px;
  background-size: 0.8em;
  background-color: var(--grey-100);
}

.hamburger {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  background: none;
}
.hamburger__item, .hamburger__item::after, .hamburger__item::before {
  border-radius: 2px;
  height: 2px;
  width: 26px;
  background: #000;
}
.hamburger__item {
  position: relative;
}
[aria-expanded=true] .hamburger__item {
  background: transparent;
}
.hamburger__item::after, .hamburger__item::before {
  content: "";
  position: absolute;
  left: 0;
}
.hamburger__item::after {
  transform: translateY(10px);
}
[aria-expanded=true] .hamburger__item::after {
  transform: rotate(45deg);
}
.hamburger__item::before {
  transform: translateY(-10px);
}
[aria-expanded=true] .hamburger__item::before {
  transform: rotate(-45deg);
}

.hero {
  background: no-repeat top 95px center/150px url("../img/hero/bg-2.webp"), no-repeat top 45px center/220px url("../img/hero/bg-1.svg");
}
.hero__layout {
  margin-bottom: 57px;
  padding-top: 270px;
}
.hero__h {
  max-width: 55%;
  margin: 0 auto 30px;
  color: var(--green);
  font: 600 2.5rem/0.9 "SF Rounded", sans-serif;
  text-align: center;
}
.hero__p {
  color: var(--grey-400);
  font: 600 0.75rem/1.4 "SF Pro Display", sans-serif;
  text-align: center;
}

.about__layout {
  margin-bottom: 52px;
}
.about__list {
  max-width: 40%;
  margin: auto;
}

.list-about__item {
  position: relative;
}
.list-about__item:not(:last-child) {
  margin-bottom: 21px;
}
.list-about__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 30px 0 26px;
  text-decoration: none;
  background: var(--grey-50);
  box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.15);
  transition: background-color 300ms;
}
.list-about__body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.list-about__body:hover {
  background-color: var(--green);
}
.list-about__body:hover .list-about__icon {
  fill: #fff;
}
.list-about__body:hover .list-about__h {
  color: #fff;
}
.list-about__icon {
  margin-bottom: 10px;
  fill: var(--green);
  transition: fill 300ms;
}
.list-about__h {
  color: var(--green);
  font: 600 0.875rem/1.4 "SF Pro Display", sans-serif;
  transition: color 300ms;
}

.explore {
  background: no-repeat top 30px right 43%/185px url("../img/explore/bg-2.webp"), no-repeat top 25px right 50%/190px url("../img/explore/bg-1.svg");
}
.explore__layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 37px;
  padding-top: 270px;
}
.explore__h {
  margin-bottom: 20px;
  color: var(--green);
  font: 600 1.25rem/1.1 "SF Rounded", sans-serif;
  letter-spacing: 0.01em;
  text-align: center;
}
.explore__p {
  margin-bottom: 20px;
  color: var(--grey-400);
  font: 600 0.75rem/1.4 "SF Pro Display", sans-serif;
  text-align: center;
}
.explore__btn {
  width: 89.78%;
}

.bestsellers__layout {
  margin-bottom: 10px;
}
.bestsellers__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
  padding-top: 97px;
  padding-bottom: 129px;
  background: no-repeat center center url("../img/bestsellers/bg-1.svg");
}
.bestsellers__h {
  margin-bottom: 29px;
  color: var(--green);
  font: 600 2.25rem/1.1 "SF Rounded", sans-serif;
  text-align: center;
}
.bestsellers__btn {
  width: 89.78%;
  margin: auto;
}
.bestsellers__swiper {
  margin: auto;
  max-width: 300px;
}

.swiper-bestsellers__slide {
  margin-bottom: 50px;
}

.soaps__container {
  padding: 0;
}
.soaps__layout {
  margin-bottom: 60px;
}
.soaps__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.soaps__wrap--one {
  padding-top: 144px;
  padding-bottom: 144px;
  background: no-repeat center center/cover url("../img/soaps/bg-2.webp") #000;
}
.soaps__h {
  margin-bottom: 38px;
  color: #fff;
  font: 600 2rem/1.2 "SF Rounded", sans-serif;
  text-align: center;
}
.soaps__btn {
  width: 61.28%;
}

.trends {
  background: no-repeat top center url("../img/trends/bg-1.svg");
}
.trends__layout {
  padding-top: 187px;
  margin-bottom: 30px;
}
.trends__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 158px;
}
.trends__h {
  margin-bottom: 30px;
  color: var(--green);
  font: 600 2.25rem/1.1 "SF Rounded", sans-serif;
  text-align: center;
}
.trends__btn {
  width: 89.78%;
}
.trends__swiper {
  margin: auto;
  max-width: 300px;
}

.swiper-trends__slide {
  margin-bottom: 50px;
}

.blog__layout {
  margin-bottom: 6px;
}
.blog__h {
  margin-bottom: 78px;
  color: var(--green);
  font: 600 3.125rem/1.1 "SF Rounded";
  text-align: center;
}
.blog__list {
  margin: auto;
  max-width: 67.5%;
}

.list-blog__item {
  margin-bottom: 40px;
}
.list-blog__body {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.body-list-blog__img-wrap {
  height: 191px;
}
.body-list-blog__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.body-list-blog__inner {
  padding: 21px 13px;
}
.body-list-blog__h {
  border-bottom: 1px solid var(--grey-100);
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: var(--green);
  font: 700 1rem/1.4 "SF Pro Display", sans-serif;
}
.body-list-blog__p {
  color: var(--grey-600);
  font: 500 0.75rem/1.5 "SF Pro Display", sans-serif;
}
.body-list-blog__p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}