.card {
    position: relative;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: block;
    height: 310px;
    box-shadow: 3px 3px 10px -3px rgba(0 0 0 /20%);
    overflow: hidden;

    &__img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__info {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 10px 13px 8px;
        background: rgba(255 255 255 / 80%);
        overflow: hidden;
    }
}

.info-card {
    &__inner {
        display: flex;
        align-items: flex-start;
    }

    &__title, 
    &__desc {
        max-width: 70%;
    }

    &__title {
        margin: 0 5px 0 0;
        color: var(--grey-800);
        font: 700 0.9375rem/1.4 "SF Pro Display", sans-serif;
    }

    &__price {
        border-radius: 1.33em;
        margin-top: 4px;
        padding:.5em 1.14em;
        color: #fff;
        font: 700 0.375rem/1 "SF Pro Display", sans-serif;
        background: var(--green);
    }

    &__desc {
        color: var(--grey-500);
        font: 400 0.6875rem/1.4 "SF Pro Display", sans-serif;
    }

    &__add-cart {
        display: none;
    }
}

@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
    .card {
        &__info {
            -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
            background: none;
        }
    }
}